*.user
.vs

CursoC/Debug
CursoC/Release

CursoC/HelloWorld/Debug
CursoC/HelloWorld/Release

CursoC/Operadores/Debug
CursoC/Operadores/Release

CursoC/TiposDeDados/Debug
CursoC/TiposDeDados/Release

CursoC/VariaveisQualificadores/Debug
CursoC/VariaveisQualificadores/Release

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
