*.user
.vs

CursoC/Debug
CursoC/Release

CursoC/HelloWorld/Debug
CursoC/HelloWorld/Release

CursoC/Operadores/Debug
CursoC/Operadores/Release

CursoC/TiposDeDados/Debug
CursoC/TiposDeDados/Release

CursoC/VariaveisQualificadores/Debug
CursoC/VariaveisQualificadores/Release

CursoC/Conversao/Debug
CursoC/Conversao/Release

CursoC/Sentencas/Debug
CursoC/Sentencas/Release

CursoC/ArraysString/Debug
CursoC/ArraysString/Release

CursoC/Ponteiros/Debug
CursoC/Ponteiros/Release

CursoC/Funcao/Debug
CursoC/Funcao/Release

CursoC/Estruturas/Debug
CursoC/Estruturas/Release

CursoC/ConsoleIO/Debug
CursoC/ConsoleIO/Release

CursoC/FileIO/Debug
CursoC/FileIO/Release

CursoC/DiretivasHeader/Debug
CursoC/DiretivasHeader/Release

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
